<?php

namespace App\RequestHandlers;

use Synful\Framework\Request;
use Synful\Framework\Controller;

/**
 * New Controller.
 */
final class {{name}} implements Controller
{
    /**
     * Example: An example handler for this controller
     *
     * @param \Synful\Framework\Request $request
     * @return \Synful\Framework\Response|array
     */
    public function example(Request $request)
    {
        /* This is just an example, create your own handlers */
    }
}
