<?php

namespace App\Middleware;

use Synful\Framework\Request;
use Synful\Framework\Response;
use Synful\Framework\Middleware;
use Synful\Framework\RequestHandler;

/**
 * Custom Middleware implementation.
 */
final class {{name}} implements Middleware
{
    /**
     * Perform the specified action on the request before
     * passing it to the RequestHandler.
     *
     * @param  \Synful\Framework\Request        $request
     * @param  \Synful\Framework\RequestHandler $handler
     * @return bool
     */
    public function before(Request $request, RequestHandler $handler)
    {
        // Your code here
    }

    /**
     * Perform the specified action on a Response before
     * passing it back to the client.
     *
     * @param \Synful\Framwork\Response $response
     */
    public function after(Response $response)
    {
        // Do nothing
    }
}
