<?php

namespace App\Data\Models;

use Illuminate\Database\Eloquent\Model;

final class {{name}} extends Model
{
    /**
     * The database connection to use for this model.
     *
     * @var string
     */
    protected $connection = 'synful';

    /**
     * The table to associate this model with.
     *
     * @var string
     */
    protected $table = '{{table}}';
}
