<?php

namespace Synful\App\Data\Migrations;

use Synful\Util\Data\Migrations\Util\Migration;
use Illuminate\Database\Schema\Blueprint;

class MigrationName extends Migration
{
    /**
     * The database connection to use for the migration.
     * Note: This is option. Defaults to `synful`.
     *
     * @var string
     */
    protected $connection = 'synful';

    /**
     * Run the migrations.
     *
     * @return void
     */
    public function up()
    {
        // Use $this->schema()
    }

    /**
     * Reverse the migrations.
     *
     * @return void
     */
    public function down()
    {
        // Use $this->schema()
    }
}
