<?php

namespace Synful\RequestHandlers;

use Synful\Util\Framework\Response;
use Synful\Util\Framework\RequestHandler;

/**
 * New Request Handler Class.
 */
class RequestHandlerName implements RequestHandler
{
    /**
     * Set the `is_public` property to make this  a public request handler.
     * When a request handler is set to public, it won't require an API key.
     *
     * Note If you disable allow_public_requests in Security.php,
     * this will not matter and an API key will always be required.
     *
     * Note: If you are using only public RequestHandlers, you will not
     * need any database configuration to run Synful.
     *
     * @var bool
     */
    public $is_public = true;

    /**
     * Set the security level for the RequestHandler.
     * Only API keys with this security level or
     * higher can access this RequestHandler.
     *
     * @var int
     */
    public $security_level = 0;

    /**
     * To make this an encrypted only RequestHandler
     * set the `encrypted_only` property of the class.
     *
     * @var boolean
     */
    public $encrypted_only = false;

    /**
     * Assign an array of API Keys to the 'white_list_keys' property to make
     * this handler only allow connections using those API Keys.
     *
     * @var array
     */
    public $white_list_keys = [
        'john@acme.com',
    ];

    /**
     * Function for handling request and returning data as a Response object.
     *
     * @param  Response $response
     */
    public function handleRequest(Response &$response)
    {
        $request_data = &$response->request;

        // Insert your code here
    }
}
