<?php

namespace Synful\App\Serializers;

use Synful\Util\Framework\Serializer;

/**
 * A custom Serialization implementation.
 */
class SerializerName implements Serializer
{
    /**
     * The content type for the serialized data.
     *
     * @var string
     */
    public $content_type = 'ContentType';

    /**
     * Serialize the data to be sent back to the client.
     *
     * @param  array  $data
     * @return string
     */
    public function serialize(array $data) : string
    {
        // Your serialization code
        return '';
    }

    /**
     * Deserialize the data coming from the request.
     *
     * @param  string $data
     * @return array
     */
    public function deserialize(string $data) : array
    {
        // Your serialization code
        return [];
    }
}
